.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;

}

.articles-bar {
  display: flex;
  justify-content: center;
  align-content: stretch;
  gap: 20px;
  flex-wrap: wrap;
}
