.article-component {
  min-width: 220px;
  background-color: #f5f0f0;
  border-radius: 2%;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.article-component img {
  width: 100%;
}

.article-component h3 {
  text-align: center;
}

@media screen and (min-width: 440px) {
  .article-component {
    width: 20%;
  }
}
